{% extends 'baseAdmin.html.twig' %}


{% block pagecontent %}
<div class="box box-info">
    <div class="box-header with-border">
    <h1 class="box-title">Fichepv creation</h1>
    </div>

    {{ form_start(form) }}
    <div class="box-body">
        {{ form_widget(form) }}
        <div class="box-footer">
        <input type="submit" value="Create" />
        </div>
    {{ form_end(form) }}
</div>

    <ul>
        <li>
            <a href="{{ path('fichepv_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
